layout {
    pane stacked=true {
        pane edit=".multitask"
    }
    swap_floating_layout {
        floating_panes exact_panes=1 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
        }
        floating_panes exact_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes exact_panes=3 {
            pane { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }
}
